<nav class="nav-bar">

  <h1 class="growthmachina-logo">Growth <strong> Machina</strong></h1>

  <ul id="navbar-only">
    <li class="btn-navbar"><a href="#mecano">Get Started</a></li>
    <li class="nav-item"><a href="#whysec">Q&A</a></li>
    <li class="nav-item"><a href="#howsec">How It Works</a></li>
  </ul>
</nav>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(173,135,104,0.6) 0%, rgba(164,99,102,0.7) 41%, rgba(61,52,82,0.7) 100%), url('/assets/background.jpeg');">
  <div class="banner-content">
    <h1>Social Growth As A Service</h1>
    <p>Hire a GIG to grow your social following. No Fake. No Bullshit.</p>
    <a class="btn btn-primary btn-large">GET START NOW</a>


  </div>
</div>



<section class="whosec" >
  <h2>WHY CHOOSE GROWTH MACHINA?</h2>
  <p> Increase the organic following of your Instagram audience through Growth Machina with the
   correct social media strategies. We pride ourselves in being the best organic Instagram growing services on the market.</p>

   <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="single-block">
          <img src="/assets/easy.png" alt="calendrier" style="width:150px;height:150px;">
          <h3> Easy of use</h3>
          <h4>No downloads, we do it all for you! You will be pleasantly surprised at how easy and effective it is.</h4>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="single-block">
          <img src="/assets/people.png" alt="mecanicien" style="width:150px;height:150px;">
          <h3> A real audience</h3>
          <h4>All new followers are 100% real and targeted. You may find some places online that sell followers, these are mostly farmed networks or fake accounts. That is not what we offer. </h4>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="single-block">
          <img src="/assets/podium.png" alt="fait" style="width:150px;height:150px;">
          <h3> Powerful service</h3>
          <h4>Everyone knows the benefits of having a large number of followers, with Growth Machina you will quickly rise the ranks into Instagram Popularity. Get famous now.</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="blockend"></div>
</section>


<section class="pricing" >
  <div class="container">


   <!-- start header here-->

   <div id="fdw-pricing-table">
    <div class="plan plan1">
      <div class="header">Instagram</div>
      <div class="price">39€</div>
      <div class="monthly">per month</div>
      <ul>
        <li><b>400-1000+</b> Followers every month</li>
        <li><b>Targetted </b>customers</li>
        <li><b>Monthly </b>report</li>
        <li><b>Limited </b>support</li>
      </ul>
      <a class="signup" href="http://www.freshdesignweb.com">Start now</a>
    </div>
    <div class="plan plan2 popular-plan">
      <div class="header">Instagram & Twitter</div>
      <div class="price">55€</div>
      <div class="monthly">per month</div>
      <ul class="card-text">
       <li><b>400-1000+</b> Followers every month</li>
       <li><b>Targetted </b>customers</li>
       <li><b>Weekly </b>report</li>
       <li><b>Unlimited </b>support</li>
     </ul>
     <a class="signup" href="http://www.freshdesignweb.com">Start now</a>
   </div>
   <div class="plan plan3">
    <div class="header">Twitter</div>
    <div class="price">39€</div>
    <div class="monthly">per month</div>
    <ul>
      <li><b>400-1000+</b> Followers every month</li>
      <li><b>Targetted </b>customers</li>
      <li><b>Monthly </b>report</li>
      <li><b>Limited </b>support</li>
    </ul>
    <a class="signup" href="http://www.freshdesignweb.com">Start now</a>
  </div>

</div>


</div>
</section>
