.whosec {
// font-family: 'Maven Pro', sans-serif;
    background-color: white;
    text-align: center;
    position: relative;
    z-index: 999;
    padding-top: 60px;
}



.whosec h2 {
    font-size: 40px;
    // color: #fff;
    margin-top: 0;

}

.whosec h4 {
color: #52595D;
    margin-top: 0px;
    font-size: 18px;

}




.whosec p {
  width:100%;
   max-width: 700px;
   margin: 0px auto;
  color: #52595D;
 font-size: 20px;
    margin-top: 25px;
    margin-bottom: 60px;
}

.container {
    position: relative;
    width: 1450px;

}


.blockend {
    height: 2px;
    background: #fff;
    opacity: .5;
   width: 60px;
    display: inline-block;
}
